body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  font-size: 40px;
  font-weight: 900;
}

h2 {
  font-weight: 900;
}

h3 {
  font-size: 15px;
  font-weight: 500;
}

a {
  color: rgb(255, 255, 255);
  font-size: 15px;
  font-weight: 900;
}

#link-text {
  text-decoration: none;
}

#intro {
  margin-bottom: 50px;
}
#text-border {
  font-weight: 900;
}


#twnText {
  text-align: center;
  padding-left: 10%;
}

#inputBox {
  background-color: rgb(34, 34, 34);
  width: 450px;
  height: 710px;
  float: left;
  margin: 20px;
  border-radius: 24px;
}

#text-fill {
  color: rgb(255, 255, 255);
  font-weight: 900;
  padding: 10px;
  width: 100%;
  border-width: 0.2em;
  border-top: 0ch;
  border-right: 0ch;
  border-left: 0ch;
  background-color: rgb(51, 51, 51);
  border-color: rgb(107, 107, 107);
}

#imgBox {
  opacity: 100%;
  width: auto;
  height: 710px;
  padding-top: 0px;
  float: left;
  margin: 20px;
  border-radius: 24px;
}

#contentbox {
  width: 70%;
  margin-top: 25px;
  margin-bottom: 50px;
  margin-left: 40px;
  text-align: left;
}

#metadataBox {
  background-color: rgb(34, 34, 34);
  height: 310px;
  width: 100%;
  float: left;
  margin-top: 40px;
  border-radius: 24px;
}

video {
  border-radius: 24px;
}